body {
  background-color: #0e0f14;
  color: #f0f0f0;
  font-family: 'Pretendard', sans-serif;
}

button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  white-space: nowrap;
  border-radius: 8px;
  background-color: #1f1f25;
  color: #f0f0f0;
  border: none;
  transition: 0.2s ease;
}

button:hover {
  background-color: #2c2e38;
  transform: scale(1.03);
}

a:hover, .hoverable:hover {
  color: #80d0ff;
}
